extends layout



block content
  h1= title
  .row.justify-content-md-center
    .col-lg-6.col-xs-12.mb-3
      .card.shadow.p-4
        form(action='/add/finish' method='post')
            fieldset
                .form-group.row
                    label.col-form-label(for='name') Name
                    div
                      input.form-control(type='text' name="name" placeholder='Name')
                .form-group.row
                    label.col-form-label(for='hoehe') Höhe
                    div
                      input.form-control(type='number' name="hoehe" placeholder='Höhe in m')
                .form-group.row
                    label.col-form-label(for='url') Url
                    div
                      input.form-control(type='text' name="url" placeholder='Url')
                .form-group.row
                    label.col-form-label(for='x') X
                    div
                      input#x.form-control(type='text' name="x" placeholder='X Koordinate')
                .form-group.row
                    label.col-form-label(for='y') Y
                    div
                      input#y.form-control(type='text' name="y" placeholder='Y Koordinate')
                button.btn.btn-primary.mb-2(type='submit' disabled='')#anlegenSpeichern Speichern
    .col-lg-6.col-xs-12.mb-3
      .card.shadow.p-4
        form(action='/add/finishGeoJSON' method='post')
            fieldset
                .form-group.row
                  label.col-form-label(for='geojson') GeoJSON
                  div
                    textarea.form-control(name="geojson" style=("font-family: monospace") placeholder='{\n"type": "FeatureCollection", \n"features": [{...},{...},...]\n}')#anlegenTextarea
                .form-group.row
                    label.col-form-label(for='geojson') Lokale Datei laden
                    div
                      input#geojsonFile.form-control(type='file' name="geojson" accept=".json, .geojson")
                button.btn.btn-primary.mb-2(type='submit' disabled='')#anlegenGeoJSONSpeichern Speichern
  #map

  script.
    let geojson = !{JSON.stringify(data)}

  script(src='javascripts/gebirgeAnlegen.js')
  


