extends layout

block content
    .container
        .row
            h1 Impressum
            .col-lg-12.col-xs-12.mb-3
                h4 Autoren:
                p Eva Langstein und Anne Staskiewicz
                h4 Partner: 
                p wwu & co.ag
            h2 Bildquellen:
            .col-lg-12.col-xs-12.mb-3
                p https://wallpapercave.com/w/wp5252098
                p https://www.beano.com/posts/mountain
                p https://www.flaticon.com/free-icons/mountain