extends layout
block content

    script.
        let geojson = !{JSON.stringify(data)}
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[4].classList.add("active");
    .container 
        .row
            h1.text-light Route berechnen
            .col-12.col-md-12.mb-3
                .card.text-dark.shadow.p-4(style= 'height: 600px;')
                    h3 Karte
                    button.btn.btn-primary.mb-2#meinStandort Standort ermitteln
                    #map
        script(src='javascripts/routenAnzeigen.js' type="module")