extends layout

block content
  script.
    let geojson = !{JSON.stringify(data)}
  h1= title
<<<<<<< HEAD

=======
>>>>>>> 82eec550d3132e1ee76e8fff43d819854e0b8a33
  #map
  script(src='javascripts/gebirgeTabelle.js')
  script(src='javascripts/events.js')
