extends layout

block content
  script.
    let geojson = !{JSON.stringify(data)}
  h1= title
  form(action='/add/finish' method='post')
    fieldset
      .form-group.row
        label.col-sm-1.col-form-label(for='name') Name
        .col-sm-4
          input#poiname.form-control(type='text' name="pname" placeholder='Name')

  #map
  script(src='javascripts/gebirgeTabelle.js')
  script(src='javascripts/events.js')
