extends layout

block content
    script.
        let geojson = !{JSON.stringify(data)}
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[3].classList.add("active");
    .container 
        .row
            h1.mb-3 Gebirge anzeigen
            .col-12.col-md-12.mb-3
                .card.text-dark.shadow.p-4(style= 'height: 400px;')
                    h3 Karte
                    #map

            .col-12.col-md-12.mb-3
                .card.text-dark.shadow.p-4(style='height: 300px;overflow: scroll;')
                    h3.text-dark Tabelle
                    table#tabelle.table.table-dark.table-striped.table-hover
                        tr
                            th n
                            th Gebirge
                            th Höhe
                            th Beschreibung
                            th Y
                            th X
                            th URL

        script(src='javascripts/gebirgeTabelle.js')
