extends layout

block content
    script.
        let geojson = !{JSON.stringify(data)}
    .container 
        .row
            h2.mb-3= title
            .col-12.col-md-12.mb-3
                .card.shadow.p-4(style= 'height: 400px;')
                    h3 Karte
                    #map

            .col-12.col-md-12
                .card.shadow.p-4(style='height: 300px;overflow: scroll;')
                    h3 Tabelle
                    table#tabelle.table.table-dark.table-striped.table-hover
                        tr
                            th n
                            th Gebirge
                            th Höhe
                            th Beschreibung
                            th Y
                            th X
                            th URL

        script(src='javascripts/gebirgeTabelle.js')
