body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

a {
  color: #00B7FF;
}

nav{
  margin-bottom: 20px;
  padding: 8px !important;
}

button{
  max-width: 300px;
  margin: 5px 0px !important;
  margin-right: 5px !important;
}

#map { 
  height: 100%; 
  margin-top: 10px;
}

.cardAnlegen{
  min-height: 560px;
}

#speichern{
  margin-top: 5px;
}

#anlegenTextarea{
  height: 350px;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  }

